# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# Build output
/out/
/build/
cmake-build-*/

# Visual Studio
/.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.slnx
*.suo
*.user
*.VC.db
*.VC.opendb

# CLion
.idea/

# Coverage
*.gcda
*.gcno
coverage/
/.vs
